<!-- la plantilla extiende base_auth.html y proporciona contenido específico para los bloques content. -->
{% extends 'base_auth.html' %} 
{% load static%}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body >

        <div class="card-title">
          <h4 class="text-center">Registro</h4>
        </div>


        <form action="" method="post">
          <div class="form-group py-2">
            <input
              type="text"
              name="username"
              placeholder="Nombre de usuario"
              id="usernameField"
              class="form-control form-control-sm"
            />
          </div>

          <div class="invalid-feedback" style="display: none;"></div>
          <p class="text-sm text-success usernameSuccessOutput"></p>
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Correo electrónico"
              id="emailField"
              class="form-control form-control-sm"
            />
          </div>

          <div class="emailFeedbackArea invalid-feedback" style="display: none;"></div>

          <div class="form-group py-2">
            <input
              type="password"
              name="password"
              placeholder="Contraseña"
              id="passwordField"
              class="form-control form-control-sm"
            />
            <small class="float-end py-2">MOSTRAR</small>
          </div>
    
        </form>
        <input type="submit" value="Registrar" class="btn btn-primary mx-auto d-block" />
      </div>

      </div>
    </div>
  </div>

  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
